@import "tailwindcss";

html {
  font-family: "Inter", sans-serif;
  min-height: 100%;
  color: #ffffff;
  background: linear-gradient(135deg, #3b82f6 0%, #8b5cf6 100%);
  background-attachment: fixed;
  overflow: hidden;
}

body {
  min-height: 100vh;
}

* {
  box-sizing: border-box;
  margin: 0;
}
